main {
  width: 30%;
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  display: flex;
  color: var(--theme);
  font-family: Poppins;
  font-weight: 600;
  width: 30vw;
  min-width: 250px;
  border: 3px solid var(--theme);
  border-radius: 9px;
  margin: 21px auto;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link:hover {
  color: rgb(70, 100, 70);
  border: 3px rgb(70, 100, 70) solid;
  cursor: pointer;
}

.link > img {
  position: absolute;
  left: 30%;
}