#profile {
  width: 250px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}

#imgprofile {
  width: 80%;
  border-radius: 50%;
  border: 3px rgb(70, 50, 100) solid;
  margin-bottom: 14px;
}

#imgprofile:hover {
  border: 3px rgb(70, 100, 70) solid;
}